<mat-card class="mb-2 mt-4" *ngIf="data.length > 0">
    <mat-card-header>
      <mat-card-title>Accessions</mat-card-title>
    </mat-card-header>
    <div class="" style="width: 100%; display: flex; justify-content: flex-end">
      <button
        mat-button
        (click)="downloadCsvFormat(data)"
        style="color: #3f51b5"
      >
        <i class="fas fa-file-csv"></i> Download csv
      </button>
      <button
        mat-button
        (click)="downloadJsonFormat(data)"
        style="color: #3f51b5"
      >
        <i class="fab fa-js"></i> Download json
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th
            scope="col"
            *ngFor="let header of headers"
            style="text-align: center"
          >
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let value of data
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: actualpage,
                    id: 'table-accessions'
                  }
          "
          style="cursor: pointer; cursor: hand; text-align: center"
          (click)="openAccessionDetail(value)"
        >
          <td>{{ value.number }}</td>
          <td>{{ value.crop }}</td>
          <td>{{ value.taxonomy_taxon_name }}</td>
          <td><button mat-stroked-button>See more</button></td>
        </tr>
      </tbody>
    </table>
    <p>Total accessions: {{ data.length }}</p>
    <pagination-controls
      (pageChange)="actualpage = $event"
      id="table-accessions"
    >
    </pagination-controls>
  </mat-card>
  <mat-card class="mt-2 mb-2">
    <mat-card-header>

      <mat-card-title>Accessions with coordinates</mat-card-title>
    </mat-card-header>
    <div class="map-container">
      <div class="map-frame">
        <div id="map_candidate"></div>
      </div>
    </div>
  </mat-card>
