<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectdIndex">
  <mat-tab label="General">
    <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
    <div *ngIf="accessions$.length > 0" class="">
      <mat-card class="mt-2 mb-2">
        <mat-card-header>
          <mat-card-title>Accessions list found</mat-card-title>
        </mat-card-header>
        <div
          class=""
          style="width: 100%; display: flex; justify-content: flex-end"
        >
          <button
            mat-button
            (click)="downloadCsvFormat(accessions$)"
            style="color: #3f51b5"
          >
            <i class="fas fa-file-csv"></i> Download csv
          </button>
          <button
            mat-button
            (click)="downloadJsonFormat(accessions$)"
            style="color: #3f51b5"
          >
            <i class="fab fa-js"></i> Download json
          </button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headers"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let value of accessions$
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: ActualPage,
                        id: 'table-accessions'
                      }
              "
              style="cursor: pointer; cursor: hand; text-align: center"
              (click)="openAccessionDetail(value)"
            >
              <td>{{ value.number }}</td>
              <td>{{ value.crop }}</td>
              <td>{{ value.taxonomy_taxon_name }}</td>
              <td><button mat-stroked-button>See more</button></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          id="table-accessions"
          (pageChange)="ActualPage = $event"
        >
        </pagination-controls>
        <!-- <div class="page-buttons">
        <button class="btn prev" (click)="fetchPrevious()">Prev
        </button>
        <button class="btn next" (click)="fetchNext()">Next
        </button>
      </div> -->
        <br />
        <p style="text-align: left">
          Number of accessions found: {{ amountData | number: '2.' }}
        </p>
      </mat-card>

      <mat-card class="mt-2 mb-2">
        <mat-card-header>
          <mat-card-title>Accessions location</mat-card-title>
        </mat-card-header>
        <map-outcomes [acce]="accessions$"></map-outcomes>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Subsets" *ngIf="expertNormalMode$">
    <mat-tab-group
      mat-align-tabs="start"
      (selectedTabChange)="tabClick($event)"
    >
      <mat-tab label="Accessions">
        <table-outcomes [params]="subsets"></table-outcomes>
      </mat-tab>
      <mat-tab label="Plots">
        <app-plot-outcomes [quantileData]="quantileData"></app-plot-outcomes>
      </mat-tab>
      <mat-tab label="Map">
        <advanced-subset-map
          [showMap]="showAdvancedMap"
          [data]="subsets"
        ></advanced-subset-map>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Subsets</span>
    </ng-template>
    <div *ngIf="expertNormalMode$">
      <div style="" class="row mt-2 mr-2 advance-properties">

        <mat-card class="mt-3 col-lg-3 col-sm-12" style="padding: 8px;">
          <div class="" style="">
            <mat-checkbox
              class="example-margin"
              [checked]="dbscanCheck"
              [(ngModel)]="dbscanCheck"
              color="primary"
            >
              Dbscan method
              <a mat-icon-button href="/explore/methodology" target="_blank" ><mat-icon matTooltip="Go to Methodologies">help</mat-icon></a></mat-checkbox>
          </div>
          <div
            class=""
            style="display: flex; width: 100%"
            [hidden]="!dbscanCheck"
          >
            <div style="width: 48%">
              <label for="minpts">MinPts</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="hyperParameters.minpts"
              />
            </div>
            <div class="ml-2" style="width: 48%">
              <label for="eps">Epsilon</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="hyperParameters.epsilon"
              />
            </div>
          </div>
        </mat-card>
       
        <mat-card class="mt-3 col-lg-3 col-sm-12" style="padding: 8px;">
          <div style="">
            <mat-checkbox
              class="example-margin"
              [checked]="hdbscanCheck"
              [(ngModel)]="hdbscanCheck"
              color="primary"
              >Hdbscan method
              <a mat-icon-button href="/explore/methodology" target="_blank" ><mat-icon matTooltip="Go to Methodologies">help</mat-icon></a></mat-checkbox>
          </div>
          <div
            class=""
            style="display: flex; width: 100%"
            [hidden]="!hdbscanCheck"
          >
            <div style="width: 90%">
              <label for="min-cluster-size">Minimum cluster size</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="hyperParameters.min_cluster_size"
              />
            </div>
          </div>
        </mat-card>
        
        <mat-card class="mt-3 col-lg-3 col-sm-12" style="height: 200px; padding: 8px;">
          <div style="">
            <mat-checkbox
              class="example-margin"
              [checked]="agglomerativeCheck"
              [(ngModel)]="agglomerativeCheck"
              color="primary"
              >Agglomerative method
              <a mat-icon-button href="/explore/methodology" target="_blank" ><mat-icon matTooltip="Go to Methodologies">help</mat-icon></a></mat-checkbox>
          </div>
          <div
            class=""
            style="display: flex; width: 100%"
            [hidden]="!agglomerativeCheck"
          >
            <div style="width: 100%">
              <label for="period" class="form-label">Add a range of number of clusters</label>
              <ngx-slider
                [(value)]="hyperParameters.min_cluster"
                id="period"
                [(highValue)]="hyperParameters.n_clusters"
                [options]="clusterSliderOption"
              >
              </ngx-slider>
            </div>
          </div>
        </mat-card>
      </div>
      <button class="btn btn-green mt-3" (click)="buildClusters()" style="margin:3%;">
        Generate clusters
      </button>
      <div
        *ngIf="!clusterData"
        class="alert alert-warning alert-dismissible fade show mt-3"
        role="alert"
      >
        The system did not find matchs
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-multivariable-analysis
        *ngIf="clusterData"
        [accessions]="accessions$"
        [res$]="minMaxMeanData"
        [timeMultiAna]="timeMultiAna"
        [multivariable]="clusterData"
      ></app-multivariable-analysis>
    </div>
    <beginner-cluster *ngIf="!expertNormalMode$"></beginner-cluster>
  </mat-tab>
  <mat-tab label="Summary">
    <app-summary [namesResponse]="algorithmsList"></app-summary>
  </mat-tab>
</mat-tab-group>
