<div class="banner">
  <div
    class="jumbotron bg-transparent"
    style="width: 80%; height: 400px; margin-top: 5%"
  >
    <h1
      class="display-4"
      style="
        text-align: justify;
        font-size: 50px;
        font-family: Raleway, sans-serif !important;
      "
    >
      About us
    </h1>
    <p
      class=""
      style="text-align: justify; font-family: Roboto, sans-serif !important"
    >
      Actually, many users are using Genesys website in order to search
      information about Genebank’s accessions. This website offers to users many
      ways to search data about accessions, it has integrated many databases and
      linked this data to accessions in order to improve the information level.
      Though this tool offers many options to users to explore data, it does not
      provide a way to create subsets of accessions based on customizable
      indicators. <br />
      Subsets of accessions are a set of accessions of one or many Genebanks,
      which have special features that are requested by specific users, for
      example: a user may want to find a set of drought tolerance bean
      accessions, in this case, he/she should define what drought tolerance
      means based on a set of criteria, then search the accessions that match
      these criteria and finally create a list of these accessions. <br />
      This project focuses on designing, developing and testing a tool that
      allows users to create subsets of accessions through a web system using
      different data sources. To that purpose, the system requires to build a
      set of indicators to allow users to build novel queries based on data
      available in Genesys and custom datasets.
    </p>
    <hr class="my-4" />
    <!-- <div class="dons">
      <img src="../../../../assets/images/ciat.png" alt="">
      <img src="../../../../assets/images/icard.svg" alt="">
      <img src="" alt="">
    </div> -->
<!--     <h2>Arquitecture goals and constrains</h2>
    <p
      class=""
      style="text-align: justify; font-family: Roboto, sans-serif !important"
    >
      The system architecture is based on the quality attributes, which are
      taken from the users’ requirements. The subsetting tool architecture has
      been designed with the following objectives:
    </p>
    <ul
      class=""
      style="text-align: justify; font-family: Roboto, sans-serif !important"
    >
      <li>
        Build the set of indicators for Genesys accessions based on set of
        indicators of climate, biotic, custom factors.
      </li>
      <li>
        Design a tool that allows users to create a subset of accessions from
        those found on Genesys platform and filters based in the indicators
        previously loaded.
      </li>
    </ul>
    <p
      class=""
      style="text-align: justify; font-family: Roboto, sans-serif !important"
    >
      In order to accomplish those objectives, all requirements were analyzed
      and categorized in groups of quality attributes. The categories were:
      functional suitability, performance efficiency, compatibility, usability,
      reliability, security, maintainability and portability. The most important
      quality attributes, which were the directives of this architecture, are
      the following:
    </p> -->
  </div>
</div>
