<div class="banner" id="subpage">

  <div class="jumbotron bg-transparent container"
    style="width: 80%; /*height: 200px;*/ margin-top: 13%;}">
    
    <h1
      class="display-4"
      style="
        text-align: justify;
        font-size: 50px;
        font-family: Raleway, sans-serif !important;">
      About us
    </h1>
    <hr class="my-4" />
  </div>

</div>
    <div class="container">
    <p class="" style="text-align: justify; font-size: 22px;    line-height: 1.2em;    font-weight: 200;  padding: 2%;">
      Actually, many users are using Genesys website in order to search
      information about Genebank’s accessions. This website offers to users many
      ways to search data about accessions, it has integrated many databases and
      linked this data to accessions in order to improve the information level.
      Though this tool offers many options to users to explore data, it does not
      provide a way to create subsets of accessions based on customizable
      indicators. <br /><br />
      Subsets of accessions are a set of accessions of one or many Genebanks,
      which have special features that are requested by specific users, for
      example: a user may want to find a set of drought tolerance bean
      accessions, in this case, he/she should define what drought tolerance
      means based on a set of criteria, then search the accessions that match
      these criteria and finally create a list of these accessions. <br /><br />
      This project focuses on designing, developing and testing a tool that
      allows users to create subsets of accessions through a web system using
      different data sources. To that purpose, the system requires to build a
      set of indicators to allow users to build novel queries based on data
      available in Genesys and custom datasets.
    </p>
    <img src="../../../../assets/images/Crop-Trust-logo.png" alt="" id="logo-aboutus" /><br/>
    <p style="font-size: 22px;text-align: center; "><a href="https://www.croptrust.org/" style="color:#B4BF22; font-weight: bold; ">The Crop Trust</a> is the donor of this project</p>
    <br/><br/>
     <div class="row text-center" id="methodologies-sections">
        <div class="col-lg-6">
          <img src="../../../../assets/images/Alliance-logo.png" alt=""  id="logo-allianceicarda" />
        </div>
        <div class="col-lg-6" style=" display: flex;
   align-items: center;">
          <img src="../../../../assets/images/Icarda-logo.png" alt=""  id="logo-allianceicarda" />
        </div>-
     </div>
     
    </div>
    <br/><br/>