<div class="container mt-2">
    <div *ngFor="let item of summary$  | async; let i = index">
        <h2> <strong>{{item[0]}}</strong></h2>
    <table class="table table-striped mt-2">
    
        <tbody>
          <tr>
            <td>Total accessions filtered </td>
            <td>{{item[1].length | number: '2.'}}</td>
            </tr>
            <tr>
                <td>Total number of accessions by dbscan analysis</td>
                <td>{{totalAccessionsDbscan}}<td>
            </tr>
            <tr>
                <td>Total number of accessions by hdbscan analysis</td>
                <td>{{totalAccessionsHdbscan}}</td>
            </tr>
            <tr>
                <td>Total number of accessions by agglomerative analysis</td>
                <td>{{totalAccessionsAgglomerative}}</td>
            </tr>
        </tbody>
      </table>
    
    </div>
    <div style="width: 100%; display: flex; justify-content: flex-end;">
        <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
              <mat-icon (click)="openDialog()">add</mat-icon>
            </button>
          </div>
    </div>
</div>