<app-navbar></app-navbar>
<div class="flex-container">

  <div class="filter-space container mt-3">
    <app-indicator></app-indicator>
  </div>
  <div class="outcome-space">
    <div class="band-green">
      <h1 class="ml-2">Subsets of accessions overview</h1>
      <h3 class="ml-2 m-0 font-medium">Summary information about the parameters selected</h3>
    </div>
    <app-tabs></app-tabs>
  </div>
</div>
<!-- <div class="container mt-3">

  <app-indicator></app-indicator>
</div> -->
<router-outlet></router-outlet>