.filter-space {
    width: 30%;
}

.outcome-space {
    width: 70%;
    
}

.flex-container {
    display: flex;
  }

.band-green {
    background-color: #88ba42;
    width: 100%;
}

.band-green h1, h3 {
    color: white;
}

h1 {
    font-weight: 500 !important;
    margin-bottom: 0px; 
    font-size: 1.714rem;
}

.font-medium {
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 0.8571rem;
}