<div class="container mt-2">
  <ng-container *ngFor="let x of indicators$">
    <section *ngIf="x.category != 'Crop-specific indicators'">
      <p>
        <mat-checkbox
        id="{{x.category}} + 'beginner'"
          color="primary"
          [checked]="x.checked"
          [indeterminate]="someComplete(x)"
          (change)="setAll($event.checked, x)"
          >{{ x.category }}</mat-checkbox
        >
      </p>
      <section class="ml-3" *ngFor="let y of x.indicators">
        <p>
          <mat-checkbox id="{{y.name}} + 'beginner'" color="primary" [(ngModel)]="y.checked" (ngModelChange)="updateAllComplete(x, y.checked)">{{ y.name }}</mat-checkbox>
        </p>
      </section>
    </section>
  </ng-container>
  <ng-container *ngFor="let x of indicators$">
    <section *ngIf="x.category == 'Crop-specific indicators'">
      <p>
        <mat-checkbox
          color="primary"
          [checked]="x.checked"
          [indeterminate]="someComplete(x)"
          (change)="setAll($event.checked, x)"
          >{{ x.category }}</mat-checkbox
        >
      </p>
      <section class="ml-3" *ngFor="let y of x.indicators">
        <ng-container *ngIf="cropList.includes(y.crop)">
        <p>
          <mat-checkbox color="primary" [(ngModel)]="y.checked" (ngModelChange)="updateAllComplete(x, y.checked)">{{y.crop}} -- {{ y.name }}</mat-checkbox>
        </p>
      </ng-container>
      </section>
    </section>
  </ng-container>
  <ngx-spinner></ngx-spinner>
<!-- </mat-card> -->

<mat-card class="mt-3 mb-3">
  <label for="period" class="form-label">Add a range of number of clusters </label>
  <div style="display: flex; justify-content: flex-end; width: 100%;">
    <a mat-icon-button href="/explore/methodology" target="_blank" ><mat-icon matTooltip="Go to Methodologies">dns</mat-icon></a>
    <!-- <button mat-icon-button hre><mat-icon matTooltip="Go to Glossary">book</mat-icon></button> -->
  </div>
  <ngx-slider
    [(value)]="minCluster"
    id="period"
    [(highValue)]="maxCluster"
    [options]="clusterSliderOption"
  >
  </ngx-slider>
  <button class="btn btn-green mt-4" (click)="buildSubsets()">
    Apply Filters
  </button>
</mat-card>
</div>
