.btn-green {
    background-color: #88ba42;
    color: white;
    margin-top: 35px !important;
}

.field-analysis {
    display: flex; 
    width: 100%;

}
.mat-checkbox-layout, .mat-checkbox-label {
  white-space: pre-wrap !important;

}