<!-- <div class="mb-3 mt-3">
  <label for="indicator" class="form-label">Select an indicator</label>
  <select name="indicator" id="indicator" class="form-control" [(ngModel)]="parameters.indicator">
    <option *ngFor="let x of indicators" value="{{x.name}}">{{x.name}}</option>
  </select>
</div> -->
<div class="mb-3 mt-3">
<mat-form-field class="example-chip-list">
  <mat-label>Select an indicator (s)</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
    </mat-chip>
    <input placeholder="New indicator..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option> 
  </mat-autocomplete>
</mat-form-field>
</div>
<div class="mb-4" *ngFor="let x of fruits">
  <label for="value" class="form-label mt-2">Select an range of values - {{x}}</label>
  <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" [(ngModel)]="parameters.value">
  </ngx-slider>
</div>
<div class="mt-3 mb-3">
  <label for="period" class="form-label">Add a year</label>
  <input type="text" class="form-control" [(ngModel)]="parameters.period"
    placeholder="use 1983, 1984,..., or 1983-2000">
</div>

<div class="mb-3">
  <label for="month" class="form-label">Select a month (s)</label>
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin" [checked]="allComplete" [color]="months.color"
        [indeterminate]="someComplete()" (change)="setAll($event.checked)">
        {{months.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of months.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color" (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
</div>
<button class="btn btn-green mt-3" (click)="getSubsetsOfAccession()">Get Filter</button>