<div class="flex-container">
  <div class="filter-space container mt-3">
    <h2><span>FILTER SUBSETS</span></h2>
    <hr />
    <mat-vertical-stepper linear #stepper>
      <mat-step [editable]="true">
        <ng-template matStepLabel>Set passport data</ng-template>
        <div class="mt-3" style="width: 98%">
          <mat-form-field class="example-chip-list">
            <mat-label>Select a crop (s)</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let crop of crops"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(crop, crops)"
              >
                {{ crop }}
                <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
              </mat-chip>
              <input
                placeholder="Add crop..."
                #fruitInput
                [formControl]="CropsCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, crops, CropsCtrl)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selectedCrop($event, crops, CropsCtrl)"
            >
              <mat-option
                *ngFor="let crop of filteredCrops | async"
                [value]="crop"
              >
                {{ crop }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <div class="mt-3" style="width: 98%">
            <mat-form-field class="example-chip-list">
              <mat-label>Select a taxon name (s)</mat-label>
              <mat-chip-list #taxonList aria-label="Taxon selection">
                <mat-chip
                  *ngFor="let tax of taxon"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tax, taxon)"
                >
                  {{ tax }}
                  <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                </mat-chip>
                <input
                  placeholder="Add taxon name..."
                  #taxonInput
                  [formControl]="taxonCtrl"
                  [matAutocomplete]="taxonAuto"
                  [matChipInputFor]="taxonList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event, taxon, taxonCtrl)"
                />
              </mat-chip-list>
              <mat-autocomplete
                #taxonAuto="matAutocomplete"
                (optionSelected)="selectedTaxon($event, taxon, taxonCtrl)"
              >
                <mat-option
                  *ngFor="let tx of filteredTaxon | async"
                  [value]="tx"
                >
                  {{ tx }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-3" style="width: 98%">
          <mat-form-field class="example-chip-list">
            <mat-label>Select a country (ies)</mat-label>
            <mat-chip-list #countryList aria-label="Country selection">
              <mat-chip
                *ngFor="let country of countries"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(country, countries)"
              >
                {{ country }}
                <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
              </mat-chip>
              <input
                placeholder="Add country..."
                #countryInput
                [formControl]="countriesCtrl"
                [matAutocomplete]="countryAuto"
                [matChipInputFor]="countryList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, countries, countriesCtrl)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #countryAuto="matAutocomplete"
              (optionSelected)="
                selectedCountry($event, countries, countriesCtrl)
              "
            >
              <mat-option
                *ngFor="let country of filteredCountries | async"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <button mat-button (click)="openDialog()" style="color: #3f51b5">
            Add coordinates.
          </button>
        </div>
        <div
          class="mb-3 div-coordinates"
          [hidden]="longitudeAndLatitudeVisible"
        >
          <div class="coordinate">
            <label for="longitude" class="form-label">Longitude</label>
            <input
              type="text"
              disabled
              class="form-control"
              [(ngModel)]="params.longitude"
            />
          </div>
          <div class="coordinate ml-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input
              type="text"
              disabled
              class="form-control"
              [(ngModel)]="params.latitude"
            />
          </div>
        </div>
        <div class="mt-3 mb-3" style="width: 98%">
          <mat-form-field class="example-chip-list">
            <mat-label>Select an institute name (s)</mat-label>
            <mat-chip-list #instituteList aria-label="Institute selection">
              <mat-chip
                *ngFor="let inst of institutes"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(inst, institutes)"
              >
                {{ inst }}
                <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
              </mat-chip>
              <input
                placeholder="Add institute..."
                #instituteInput
                [formControl]="instituteCtrl"
                [matAutocomplete]="instituteAuto"
                [matChipInputFor]="instituteList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, institutes, instituteCtrl)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #instituteAuto="matAutocomplete"
              (optionSelected)="
                selectedInstitute($event, institutes, instituteCtrl)
              "
            >
              <mat-option
                *ngFor="let inst of filteredInstitute | async"
                [value]="inst"
              >
                {{ inst }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <label for="biological-status" class="form-label"
            >Select a biological status</label
          >
          <select
            name="biological-status"
            id="biological-status"
            class="form-control"
            [(ngModel)]="passportParams.samp_stat"
          >
            <option *ngFor="let x of mcpd" value="{{ x.id }}">
              {{ x.name }}
            </option>
          </select>
        </div>
        <div>
          <ngx-spinner></ngx-spinner>
          <button
            mat-button
            color="primary"
            matStepperNext
            (click)="getAccessions()"
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step [editable]="true" (click)="getAccessions()">
        <ng-template matStepLabel>Set indicators</ng-template>
        <app-form-indicator
          [passportParms]="passportParams"
          [cropParms]="cropParams"
        ></app-form-indicator>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!--   <mat-step>
        <ng-template matStepLabel>Set indicator by crop</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step> -->
    </mat-vertical-stepper>
  </div>
  <div class="outcome-space">
    <div class="band-green">
      <h1 class="ml-2">Subsets of accessions overview</h1>
      <h3 class="ml-2 m-0 font-medium">
        Summary information about the parameters selected
      </h3>
    </div>
    <!-- <app-tabs [accessions]="accessions$"></app-tabs> -->
    <app-tabs
      [crops]="crops"
      [params]="passportParams"
    ></app-tabs>
  </div>
</div>
