
h2 {
    color: #88ba42;
    font-weight: bold;
    margin-top: 25px;
}

.btn-green {
    background-color: #88ba42;
    color: white;
}

.filter-space {
   /* width: 35%;*/
    padding: 0 30px;
}
/*
.outcome-space {
    width: 65%;
    
}*/

.flex-container {
    display: flex;
  }

.band-green {
    background-color: #88ba42;
    width: 100%;
    padding:8px;
}

.band-green h1, h3 {
    color: white;
}

h1 {
    font-weight: 500 !important;
    margin-bottom: 0px; 
    font-size: 1.714rem;
}

.font-medium {
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 0.8571rem;
}

.mat-tab-group {
    margin-bottom: 48px;
  }

  .example-chip-list {
    width: 100%;
  }

  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .month-checkbox {
      display: flex;
  }

  .month-left {
      color: blue;
      width: 50%;
  }

  .month-right {
      color: red;
    width: 50%;
}

.div-coordinates {
  display: flex;
  width: 100%;
}

.coordinate {
  width: 45%;
}
/* 1 nov 2021 */
.mt-3, .my-3, .mb-3 {
    margin-top: 0.25rem !important;
    margin-bottom: 0 !important;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit, .mat-vertical-stepper-header .mat-step-icon, .mat-step-ico
{
  background-color: #88BA42 !important;
}
.mb-3.ng-star-inserted button{
  background-color: white !important;
  color: #88BA42 !important;
}
.ng-star-inserted button{
  background-color: #88BA42 !important;
  color: white !important;
}
.mat-vertical-stepper-content, .mat-vertical-content.ng-tns-c180-0{
  padding-bottom: 1px !important;
}

 @media (max-width: 1200px){
 .filter-space {
    width: 100%;
 }
 }
 /*11/11/2021*/
 .flex-container{
    overflow: hidden;
    height: 83vh;
 }

.filter-space, .outcome-space{
    overflow-y: scroll;
    max-height: 100%;
}

