.lead {
    line-height : 1em !important;
}

.jumbotron {
   /* height: 1% !important;*/
    background-color: #fff696;
    border-radius: 10px;
    margin: 1% 2.5% !important;
    padding: 2%;
}

.info-color {
    background-color: #fff696;
}

.warning-color {
    background-color: #fff696;
}

.row{
    margin: 0.5% !important;
}
.mt-3{
	padding:10px !important;
}
