
<!-- Test -->
<div class="mt-3 ml-3" style="display: flex; width: 100%;">
  <div  style="width: 25%;">
    <label for="indicator-selected">Select a crop</label>
    <select
      [(ngModel)]="cropSelected"
      (ngModelChange)="drawPlot(cropSelected)"
      class="form-control"
      id=""
    >
      <option *ngFor="let x of cropList" value="{{ x }}">{{ x }}</option>
    </select>
  </div>
  <div class="ml-4" style="width: 25%;">
    <label for="indicator-selected">Select a variable to evaluate</label>
    <select
      [(ngModel)]="summSelected"
      class="form-control"
      id=""
    >
      <option *ngFor="let x of variableToEvaluate" value="{{x}}">{{x}}</option>
    </select>
  </div>
</div>
<br>
<div class="jumbotron mt-2 ml-2 mr-2">
  <p class="lead">Through our Subsetting automated method, we found <strong>{{headerSummary.length}}</strong> groups (clusters) and <strong>{{clusters.length}}</strong> accessions.
    The number of accessions and group characteristics are displayed as shown below:  
  </p>
</div>

<div style="display: flex;" class="row">
  <div style="" class="col-lg-6 col-sm-12">
    <h4 class="pl-3 pr-3">Click on any section to see the list of accessions according to the cluster.</h4>
    <div class="mt-3" #plots_pie></div>
  </div>
<!-- Summary table -->
<div class="mt-3" style="" class="col-lg-6 col-sm-12">
  <h2>Summary</h2>

  <table class="table mt-2" *ngIf="this.clusters">
    <thead>
      <tr>
        <th scope="col" class="item-table" style="text-align: center">Cluster</th>
        <th
          scope="col"
          *ngFor="let header of indicatorsAvailables"
          class="item-table"
          style="text-align: center"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let value of getClusterListByCrop()"
        style="text-align: center; cursor: pointer; cursor: hand"
        (click)="getAccessionlistByCropAndCluster(value)"
      >
        <td>Cluster {{ value + 1 }}</td>
        <td *ngFor="let column of indicatorsAvailables">
          {{
            getValueFromClusterAndIndicator(
              column,
              value,
              cropSelected,
              summSelected
            ) | number: '0.'
          }}
        </td>
      </tr>
    </tbody>
    <!-- <pagination-controls id="table-summary1" (pageChange)="actualpageSummary = $event">
          </pagination-controls> -->
  </table>
</div>

<!-- End summary table -->
</div>
<!-- Pie chart -->
<!-- End Pie chart -->

<mat-card class="mt-2 mb-2">
  <mat-card-header>
    <mat-card-title>Accessions location</mat-card-title>
  </mat-card-header>
  <beginner-cluster-map [cropSelected]="cropSelected" class="mb-4"></beginner-cluster-map>
</mat-card>

<div id="table-accessions" >
<mat-card class="mb-2" *ngIf="test$.length > 0">
  <mat-card-header>
    <mat-card-title>Accessions</mat-card-title>
  </mat-card-header>
  <div class="" style="width: 100%; display: flex; justify-content: flex-end">
    <button
      mat-button
      (click)="downloadCsvFormat(test$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(test$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let header of headers"
          style="text-align: center"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let value of test$  | paginate: {
                  itemsPerPage: 5,
                  currentPage: actualpages[0],
                  id: 'table-accessions'
                }
        "
        style="cursor: pointer; cursor: hand; text-align: center"
        (click)="openAccessionDetail(value)"
      >
        <td>{{ value.number }}</td>
        <td>{{ value.crop }}</td>
        <td>{{ value.taxonomy_taxon_name }}</td>
        <td><button mat-stroked-button>See more</button></td>
      </tr>
    </tbody>
  </table>
  <p>Total accessions: {{test$.length}}</p>
  <pagination-controls
    (pageChange)="actualpages[0] = $event"
    id="table-accessions"
  >
  </pagination-controls>
</mat-card>
</div>
