.lead {
    line-height : 1em !important;
}

.jumbotron {
   /* height: 1% !important;*/
    background-color: #fff696;
    border-radius: 10px;
    margin: 1% 2.5% !important;
    padding: 2%;
}
.row{
    margin: 0.5% !important;
}
.mt-3{
	padding:10px !important;
}
