<div class="mt-3">
      <!-- Summary table -->
      <h2>Summary table</h2> 
      <table class="table table-striped mt-2">
        <thead>
          <tr>
            <th
              scope="col"
              *ngFor="let header of headerSummary"
              class="item-table"
              style="text-align: center"
            >
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let value of summary$
                | paginate: { itemsPerPage: 5, currentPage: actualpageSummary, id: 'table-summary' }
            "
            style="text-align: center; cursor: pointer; cursor: hand"
          >
            <td>{{getIndicatorName(value.indicator)}}</td>
            <td>{{value.mean | number: '0.'}}</td>
            <td>{{value.min | number: '0.'}}</td>
            <td>{{value.max | number: '0.'}}</td>
            <td>{{value.cluster | number: '0.'}}</td>
          </tr>
        </tbody>
        <pagination-controls id="table-summary" (pageChange)="actualpageSummary = $event">
        </pagination-controls>
      </table>
      <!-- End summary table -->
  <div
          class=""
          style="width: 100%; display: flex; justify-content: flex-end"
        >
          <button
            mat-button
            (click)="downloadCsvFormat(clusters)"
            style="color: #3f51b5"
          >
            <i class="fas fa-file-csv"></i> Download csv
          </button>
          <button
            mat-button
            (click)="downloadJsonFormat(clusters)"
            style="color: #3f51b5"
          >
            <i class="fab fa-js"></i> Download json
          </button>
        </div>
        <h2>Outcomes</h2>
        <mat-card class="mt-2 mb-2" *ngFor="let t of test$ | async">
          <mat-card-header>
            <mat-card-title>{{t[0]}}</mat-card-title>
          </mat-card-header>
        
  <ng-container *ngFor="let s of t[1] | async;let i = index">
    <h2>Cluster {{s[0]}}</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th
              scope="col"
              *ngFor="let header of headers"
              style="text-align: center"
            >
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let value of s[1]
                | paginate: { itemsPerPage: 5, currentPage: actualpages[i], id: 'table-accessions' + s[0] }
            "
            style="cursor: pointer; cursor: hand; text-align: center;"
            (click)="openAccessionDetail(value)"
          >
            <td>{{ value.number }}</td>
            <td>{{ value.crop }}</td>
            <td>{{ value.taxonomy_taxon_name }}</td>
            <td><button mat-stroked-button>See more</button></td>
          </tr>
        </tbody>
      </table>
      <p>Total accessions {{s[1].length}}</p>
      <pagination-controls  (pageChange)="actualpages[i] = $event" id="table-accessions{{s[0]}}" >
    </pagination-controls>
  </ng-container>
</mat-card>
<hr>
</div>
