<mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabClick($event)">
  <mat-tab label="Accessions"
    ><beginner-cluster-accession></beginner-cluster-accession></mat-tab>
  <mat-tab label="Plots">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Line"><beginner-cluster-line-plot></beginner-cluster-line-plot></mat-tab>
      <mat-tab label="Box"><beginner-cluster-box-plot></beginner-cluster-box-plot></mat-tab>
    </mat-tab-group>
  </mat-tab>
  <!-- <mat-tab label="Map"><beginner-cluster-map [showMap]="showMap" ></beginner-cluster-map></mat-tab> -->
</mat-tab-group>
