.example-header-image {
    background-image: url('../../../assets/images/crop-detail.png');
    background-size: cover;
  }

/*   .example-card {
    max-width: 400px;
  } */

  #map {
    height: 500px;
    width: 100%;
  }