.banner {
    height: 100vh;
    width: 100%;
    background: url('../../../assets/images/overlay.png'), url('../../../assets/images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    
/*     flex-direction: column;
    vertical-align: middle; */
    font-size: 15px;
}


.description {
    text-align: center;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
    margin-bottom: 15%;
    font-size: 15px;
}

.jumbo {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(200, 54, 54, 0.5); 
 }