<div class="banner">
    <div class="jumbotron bg-transparent" style="width: 40%; /*height: 200px;*/ margin-top: 3%;">
        <h1 class="display-4" style="font-family: Raleway,sans-serif !important; font-size: 38px; font-weight: bold;">Genebank collection subsetting tool</h1>
        <p class="" style="text-align: justify; font-size: 22px;
    font-weight: 200;
    line-height: 1em;
}">This website offers to users
            many
            ways to search data about accessions, it has integrated many
            databases and
            linked this data to accessions in order to improve the information level. Though this tool offers many
            options to users to explore data, it does not provide a way to create subsets of accessions based on
            customizable indicators.</p>
       <!--  <hr class="my-4">
       <a class="btn btn-primary btn-lg" href="/explore/about-us" role="button">Learn more</a>-->
    </div>

</div>
<h1 class="display-4" style="font-family: Raleway,sans-serif !important; font-size: 38px; font-weight: bold; text-align: center; padding: 20px; margin-top:2%;">Methodologies</h1>
<a href="/explore/methodology" id="tres-circulos-a">
<div class="row text-center container" id="tres-circulos">

        <div class="col-lg-4">
            <img src="../../../assets/images/Circle1.png"><h2>DBSCAN</h2><p>Density-Based Spatial Clustering of Applications with Noise.</p></div>

            <div class="col-lg-4">
                <img src="../../../assets/images/Circle2.png"><h2>HDBSCAN</h2><p>Hierarchical Density-Based Spatial Clustering of Applications with Noise.</p></div>

            <div class="col-lg-4">
            <img src="../../../assets/images/Circle3.png"><h2>HAC</h2><p>Hierarchical Agglomerative Clustering</p></div>
</div>
</a>

<footer>
    <div id="fondo-footer">© 2021 Alliance of Bioversity International and CIAT - ICARDA<!--<a href="#">Política de Privacidad</a> - <a href="#">Términos y condiciones</a>--></div>
</footer>