.banner {
    height: 70vh;
    width: 100%;
    background: url('../../../assets/images/overlay.png'), url('../../../assets/images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
/*     flex-direction: column;
    vertical-align: middle; */
    font-size: 15px;
}
.banner .btn {
background-color: #B2BD21;
border-color: #B2BD21;
}
.banner .btn:hover {
opacity: 0.8;
}
h2{
font-size: 27px;
font-weight: bold;
}
#tres-circulos p{
font-size: 22px;
line-height: 1em;
font-weight: 200;
}
.description {
    text-align: center;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
    margin-bottom: 15%;
    font-size: 15px;
}
.jumbo {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(200, 54, 54, 0.5); 
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 1200px){
    h1{
        font-size: 20px !important;
        line-height: 0.8em;
    }
    p{
        font-size: 12px !important;
    }
    .jumbotron {
        margin: 1% !important;
    }
    .btn{
        font-size: 10px;
    padding: 5px;
    margin: 0px;
    }
}