<div class="banner">
    <div class="jumbotron bg-transparent" style="width: 40%; height: 400px; margin-top: 10%;">
        <h1 class="display-4" style="font-family: Raleway,sans-serif !important;">SUBSETTING TOOL</h1>
        <p class="" style="text-align: justify; font-family: Roboto,sans-serif !important;">This website offers to users
            many
            ways to search data about accessions, it has integrated many
            databases and
            linked this data to accessions in order to improve the information level. Though this tool offers many
            options to users to explore data, it does not provide a way to create subsets of accessions based on
            customizable indicators.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>