<div class="container" style="text-align: center;">

 <br>
 <mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let item of indicatorsValue$ | async" label="{{item[0]}}">
    <div class="container-plot">

      <div class="chart-wrapper" *ngFor="let user of item[1]; let i = index">
        <mat-card class="example-card mt-3 mb-3">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.crop}}</mat-card-title>
            <mat-card-subtitle>{{user.period}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
        <canvas baseChart id="chart{{i}}"   style="width: 450px !important;" 
        [datasets]="user.data" 
            [labels]="lineChartLabels" 
            [options]="{responsive:true, scales: {yAxes: [{scaleLabel: {display: true,labelString: user.indicator}}]}}"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
          </canvas>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
  </mat-tab>
</mat-tab-group>

 <!--  <div *ngFor="let item of indicatorsValue$ | async">  --><!-- subscribe with async and iterate grouped arrays -->
    <!-- <h3><strong>{{item[0]}}</strong></h3>  --><!-- first item is headers, display it -->
    <!-- <div style="width: 100%; display: flex; flex-wrap: wrap;"> -->
  <!--   <div *ngFor="let user of item[1]; let i = index">
      <div class="chart-wrapper">
        <canvas baseChart id="chart{{i}}" style="width: 450px !important;"
            [datasets]="[{ data:[user.month1, user.month2, user.month3, user.month4, user.month5, user.month6, user.month7, user.month8, user.month9, user.month10, user.month11, user.month12], label:user.indicator}]" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineFillColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
          </canvas>
      </div>
    </div> -->
    <!-- <div *ngFor="let user of item[1]; let i = index"> -->
  <!--     <div class="chart-wrapper" *ngFor="let user of item[1]; let i = index">
        <p>{{user.indicator}}</p>
        <canvas baseChart id="chart{{i}}"   style="width: 450px !important;" 
            [datasets]="[user.data]" 
            [labels]="lineChartLabels" 
            [options]="lineOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
          </canvas>
      </div> -->
    <!-- </div> -->
<!--   </div>
</div> -->
<!-- </div> -->
  </div>
<!-- <density-chart></density-chart> -->