  <br />
  <div  *ngIf="multivariable.length > 0" class="mt-3 ml-3" style="display: flex; width: 90%;">
    <div  style="width: 25%;">
      <label for="indicator-selected">Select a crop</label>
      <select
        [(ngModel)]="cropSelected"
        class="form-control"
        id=""
      >
        <option *ngFor="let x of cropList" value="{{ x }}">{{ x }}</option>
      </select>
    </div>
    <div  style="width: 25%;" class="ml-3">
      <label for="method">Select a methodology</label>
      <select
        [(ngModel)]="methodSelected"
        (ngModelChange)="filterData(cropSelected, methodSelected)"
        class="form-control"
        id=""
      >
        <option value="Dbscan Analysis">Dbscan Analysis</option>
        <option value="Hdbscan Analysis">Hdbscan Analysis</option>
        <option value="Agglomerative Analysis">Agglomerative Analysis</option>
      </select>
    </div>
  </div>
  <br>
  <mat-card class="mt-2 mb-2">
    <mat-card-header>
      <mat-card-title>Accessions location</mat-card-title>
    </mat-card-header>
    <advanced-cluster-map></advanced-cluster-map>
  </mat-card>
  <br>
  <mat-card class="mt-2 mb-2" *ngIf="data.length > 0">
    <mat-card-header>
      <mat-card-title>Accessions list </mat-card-title>
    </mat-card-header>
    <div
    class=""
    style="width: 100%; display: flex; justify-content: flex-end"
  >
    <button
      mat-button
      (click)="downloadCsvFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
      <div class="analysis-table">
        <table class="table  mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of data
                  | paginate: { itemsPerPage: 5, currentPage: actualPageDbscan, id: 'table4' }
              "
            >
              <tr
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster + 1 }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <p>Total accessions {{data.length}}</p>
        <pagination-controls id='table4' (pageChange)="actualPageDbscan = $event">
        </pagination-controls>
      </div>
  </mat-card>

  <mat-card class="mt-3 mb-2" *ngIf="dataSummary.length > 0">
    <mat-card-header>
      <mat-card-title>Metrics </mat-card-title>
    </mat-card-header>
    <table class="table mt-4">
      <thead>
        <tr>
          <th
            scope="col"
            *ngFor="let header of headersTable_2"
            class="item-table"
            style="text-align: center"
          >
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let value of dataSummary
              | paginate: { itemsPerPage: 5, currentPage: actualPageT2, id: 'table-summary' }
          "
          style="text-align: center; cursor: pointer; cursor: hand"
        >
          <td>{{getIndicatorName(value.indicator)}}</td>
          <td>{{value.crop}}</td>
          <td>{{value.slp_med | number: '0.'}}</td>
          <td>{{value.mean_med | number: '0.'}}</td>
          <td>{{value.sd_med | number: '0.'}}</td>
          <td>{{value.cluster  + 1}}</td>
          <td>{{value.method}}</td>
        </tr>
      </tbody>
      <pagination-controls id="table-summary" *ngIf="dataSummary.length > 0" (pageChange)="actualPageT2 = $event">
      </pagination-controls>
    </table>
  </mat-card>
   
  <!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab
      *ngIf="namesResponse.includes('cluster_dbscan')"
    >
    <ng-template mat-tab-label>
      <span (click)="getSummaryMethodology('dbscan')">Dbscan Analysis</span>
    </ng-template>
    <div
    class=""
    style="width: 100%; display: flex; justify-content: flex-end"
  >
    <button
      mat-button
      (click)="downloadCsvFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
      <div class="analysis-table">
        <table class="table  mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resDbscan$
                  | paginate: { itemsPerPage: 5, currentPage: actualPageDbscan, id: 'table4' }
              "
            >
              <tr
                *ngIf="value.cluster_dbscan >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_dbscan }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table4' (pageChange)="actualPageDbscan = $event">
        </pagination-controls>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="namesResponse.includes('cluster_hdbscan')">
      <ng-template mat-tab-label>
        <span (click)="getSummaryMethodology('hdbscan')">Hdbscan Analysis</span>
      </ng-template>
      <div
      class=""
      style="width: 100%; display: flex; justify-content: flex-end"
    >
      <button
        mat-button
        (click)="downloadCsvFormat(resHdbscan$)"
        style="color: #3f51b5"
      >
        <i class="fas fa-file-csv"></i> Download csv
      </button>
      <button
        mat-button
        (click)="downloadJsonFormat(resHdbscan$)"
        style="color: #3f51b5"
      >
        <i class="fab fa-js"></i> Download json
      </button>
    </div>
    
      <div class="analysis-table">
        <table class="table  mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resHdbscan$
                  | paginate
                    : { itemsPerPage: 5, currentPage: actualPageHdbscan, id: 'table3' }
              "
            >
              <tr
                *ngIf="value.cluster_hdbscan >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_hdbscan }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table3' (pageChange)="actualPageHdbscan = $event">
        </pagination-controls>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="namesResponse.includes('cluster_hac')"
    >
    <ng-template mat-tab-label>
      <span (click)="getSummaryMethodology('hac')">Agglomerative Analysis</span>
    </ng-template>
    <div
    class=""
    style="width: 100%; display: flex; justify-content: flex-end"
  >
    <button
      mat-button
      (click)="downloadCsvFormat(resAgglomerative$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(resAgglomerative$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
      <div class="analysis-table">
        <table class="table mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resAgglomerative$
                  | paginate
                    : { itemsPerPage: 5, currentPage: actualPageAgglomerative, id: 'table2' }
              "
            >
              <tr
                *ngIf="value.cluster_hac >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_hac }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table2'  (pageChange)="actualPageAgglomerative = $event">
        </pagination-controls>
      </div>
    </mat-tab>
  </mat-tab-group>
  <p *ngIf="multivariable.length > 0" style="text-align: left">
  Clusters generated in {{timeMultiAna | number: '0.'}} seconds.
  </p>

  
  <table *ngIf="multivariable.length > 0" class="table mt-4">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let header of headersTable_2"
          class="item-table"
          style="text-align: center"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let value of summaryReduced
            | paginate: { itemsPerPage: 5, currentPage: actualPageT2, id: 'table-summary' }
        "
        style="text-align: center; cursor: pointer; cursor: hand"
      >
        <td>{{getIndicatorName(value.indicator)}}</td>
        <td>{{value.crop}}</td>
        <td>{{value.slp_med | number: '0.'}}</td>
        <td>{{value.mean_med | number: '0.'}}</td>
        <td>{{value.sd_med | number: '0.'}}</td>
        <td>{{value.cluster | number: '0.'}}</td>
        <td>{{value.method}}</td>
      </tr>
    </tbody>
    <pagination-controls id="table-summary" *ngIf="multivariable.length > 0" (pageChange)="actualPageT2 = $event">
    </pagination-controls>
  </table> -->