<div class="container">
  <br />
  <mat-tab-group mat-align-tabs="center">
    <mat-tab
      *ngIf="namesResponse.includes('cluster_dbscan')"
    >
    <ng-template mat-tab-label>
      <span (click)="getSummaryMethodology('dbscan')">Dbscan Analysis</span>
    </ng-template>
    <div
    class=""
    style="width: 100%; display: flex; justify-content: flex-end"
  >
    <button
      mat-button
      (click)="downloadCsvFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(resDbscan$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
      <div class="analysis-table">
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resDbscan$
                  | paginate: { itemsPerPage: 5, currentPage: actualPageDbscan, id: 'table4' }
              "
            >
              <tr
                *ngIf="value.cluster_dbscan >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_dbscan }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table4' (pageChange)="actualPageDbscan = $event">
        </pagination-controls>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="namesResponse.includes('cluster_hdbscan')">
      <ng-template mat-tab-label>
        <span (click)="getSummaryMethodology('hdbscan')">Hdbscan Analysis</span>
      </ng-template>
      <div
      class=""
      style="width: 100%; display: flex; justify-content: flex-end"
    >
      <button
        mat-button
        (click)="downloadCsvFormat(resHdbscan$)"
        style="color: #3f51b5"
      >
        <i class="fas fa-file-csv"></i> Download csv
      </button>
      <button
        mat-button
        (click)="downloadJsonFormat(resHdbscan$)"
        style="color: #3f51b5"
      >
        <i class="fab fa-js"></i> Download json
      </button>
    </div>
    
      <div class="analysis-table">
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resHdbscan$
                  | paginate
                    : { itemsPerPage: 5, currentPage: actualPageHdbscan, id: 'table3' }
              "
            >
              <tr
                *ngIf="value.cluster_hdbscan >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_hdbscan }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table3' (pageChange)="actualPageHdbscan = $event">
        </pagination-controls>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="namesResponse.includes('cluster_aggolmerative')"
    >
    <ng-template mat-tab-label>
      <span (click)="getSummaryMethodology('aggolmerative')">Agglomerative Analysis</span>
    </ng-template>
    <div
    class=""
    style="width: 100%; display: flex; justify-content: flex-end"
  >
    <button
      mat-button
      (click)="downloadCsvFormat(resAgglomerative$)"
      style="color: #3f51b5"
    >
      <i class="fas fa-file-csv"></i> Download csv
    </button>
    <button
      mat-button
      (click)="downloadJsonFormat(resAgglomerative$)"
      style="color: #3f51b5"
    >
      <i class="fab fa-js"></i> Download json
    </button>
  </div>
      <div class="analysis-table">
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let header of headersTable_1"
                class="item-table"
                style="text-align: center"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let value of resAgglomerative$
                  | paginate
                    : { itemsPerPage: 5, currentPage: actualPageAgglomerative, id: 'table2' }
              "
            >
              <tr
                *ngIf="value.cluster_aggolmerative >= 0"
                style="text-align: center; cursor: pointer; cursor: hand"
              >
                <td>{{ value.crop }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.number }}</td>
                <td>{{ value.cluster_aggolmerative }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls id='table2'  (pageChange)="actualPageAgglomerative = $event">
        </pagination-controls>
      </div>
    </mat-tab>
  </mat-tab-group>
  <p *ngIf="multivariable.length > 0" style="text-align: left">
  Clusters generated in {{timeMultiAna | number: '0.'}} seconds.
  </p>

  
  <table *ngIf="multivariable.length > 0" class="table table-striped mt-4">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let header of headersTable_2"
          class="item-table"
          style="text-align: center"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let value of summaryReduced
            | paginate: { itemsPerPage: 5, currentPage: actualPageT2, id: 'table-summary' }
        "
        style="text-align: center; cursor: pointer; cursor: hand"
      >
        <td>{{getIndicatorName(value.indicator)}}</td>
        <td>{{value.crop}}</td>
        <td>{{value.slp_med | number: '0.'}}</td>
        <td>{{value.mean_med | number: '0.'}}</td>
        <td>{{value.sd_med | number: '0.'}}</td>
        <td>{{value.cluster | number: '0.'}}</td>
        <td>{{value.method}}</td>
      </tr>
    </tbody>
    <pagination-controls id="table-summary" *ngIf="multivariable.length > 0" (pageChange)="actualPageT2 = $event">
    </pagination-controls>
  </table>

  <hr>

  <!--   <div class="row">
    <div id="maps"></div>
    <div id="popups" class="ol-popup">
        <a href="#" id="popup-closers" class="ol-popup-closer"></a>
        <div id="popup-contents"></div>
      </div>
</div> -->
</div>

